@font-face {
  font-family: 'shiftbold';
  src: url('../fonts/Shift-Bold.woff2') format('woff2'),
  url('../fonts/Shift-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'boldital';
  src: url('../fonts/Shift-BoldItalic.woff2') format('woff2'),
  url('../fonts/Shift-BoldItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'shiftbook';
  src: url('../fonts/Shift-Book.woff2') format('woff2'),
  url('../fonts/Shift-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bookital';
  src: url('../fonts/Shift-BookItalic.woff2') format('woff2'),
  url('../fonts/Shift-BookItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'shift';
  src: url('../fonts/Shift-Medium.woff2') format('woff2'),
  url('../fonts/Shift-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'shiftital';
  src: url('../fonts/Shift-MediumItalic.woff2') format('woff2'),
  url('../fonts/Shift-MediumItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}