#featured, #addFeatured {
  .featured-wrapper {
    background: $white;
    padding: 25px;
  }
  .category {
    font-family: $bold;
    font-size: 11px;
    color: $black;
    letter-spacing: 4.72px;
    text-transform: uppercase;
    margin-bottom: 15px;
    width: 100%;
  }
}

#recent {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  div.blog-wrap {
    width: 20%;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 45px;
    padding-left: 15px;
    padding-right: 15px;
    h3 {
      margin: 0;
      text-transform: uppercase;
      font-family: $bold;
      font-size: 17px;
      color: #343434;
      letter-spacing: 3.74px;
      line-height: 23px;
    }
  }
  .blog-item {
    position: relative;
    .styling-wrapper {
      max-width: 100%;
      height: auto;
      img {
        position: relative;
        bottom:0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    .content-wrapper{
      padding: 35px;
      span {
        display: block;
      }
    }
  }

  li {
    list-style: none;
    width: 33.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    a {
      width: 100%;
      display: flex;
      flex-direction: column;
      min-height: 246px;
      background: $white;
      color: #4A4A4A;
      box-shadow: 0 2px 17px 0 rgba(0,0,0,0.09);
      transition: .25s all ease;
      .h1 {
        flex-grow: 1;
        color: #4a4a4a;
      }
      .category {
        font-family: $bold;
        font-size: 11px;
        color: $black;
        letter-spacing: 4.72px;
        text-transform: uppercase;
        margin-bottom: 15px;
        width: 100%;
      }
      &:focus, &:hover {
        box-shadow: 0 2px 17px 0 rgba(0,0,0,.25);
        border-top: 3px solid black;
      }
    }
  }
  li:first-of-type {
    width: 90%;
    margin: 0 auto 55px;
    position: relative;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    .h1 {
      font-family: $bold;
      font-size: 42px;
      max-width: 90%;
      color: #4A4A4A;
      letter-spacing: 0;
      line-height: 60px;
      margin-top: 0;
      margin-bottom: 0;
      flex-grow: 1;
    }
    a.blog-item {
      flex-direction: row;
      flex: 1;
      .content-wrapper {
        background: #fff;
        padding: 25px;
        flex-direction: column;
        display:flex;
        flex: 1;
        width: 66.6666666667%;
        float: left;
        position: relative;
        min-height: 1px;
      }
      .styling-wrapper {
        padding-left: 0;
        padding-right: 0;
        width: 33.3333333333%;
        float: left;
        position: relative;
        min-height: 1px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
} /*End Recent */

.blog-bg {
    background-color: #F6F6F6;
    background: url(../images/blog-white-bg.jpg);
    background-repeat:repeat-x;
}

.featured-triangle {
  width: 60%;
  height: 0;
  padding-top: 60%;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
  &:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-top:-500px;
    border-top: 500px solid transparent;
    border-right: 500px solid #000;
  }
}