#contact {
  padding: 183px 0;
}

footer {
  padding: 183px 0;
  text-align: center;
  h5 {
    font-family: $bold;
    font-size: 16px;
    color: $black;
    letter-spacing: 5.09px;
    text-align: center;
    margin-top: 51px;
    text-transform: uppercase;
  }
  ul.phones {
    padding: 0;
    margin-bottom: 45px;
    li {
      list-style: none;
      font-family: $book;
      font-size: 14px;
      color: $black;
      letter-spacing: 2.65px;
      text-align: center;
      line-height: 24px;
      text-transform: uppercase;
      padding: 3px 0;
      &:last-of-type {
        padding-bottom: 0;
      }
    }
  }
  ul.social-media {
    padding: 0;
    li {
      list-style: none;
      display: inline-block;
      padding: 0 6px;
      a {
        color: $black;
        font-size: 22px;
        &:focus, &:hover {
          color: #4a4a4a;
        }
      }
    }
  }
  address {
    font-family: $book;
    font-size: 14px;
    color: $black;
    letter-spacing: 0;
    text-align: center;
    line-height: 24px;
    margin-top: 22px;
    margin-bottom: 35px;
  }
}